{% extends 'base.html' %}

{% block contents %}
  {% for question in posts %}
    <div class="container">
        <div class="card">
            <div class="card-body">
                <a href="{% url 'read_question' question.id %}"><h4>{{question.title}}</h4></a>
                <p>{{question.pub_date}}</p>
            </div>
        </div>
    </div>
    <br>
  {% endfor %}


  <div class="container">
    <p class="float-right">
      <a href="{% url 'write_question' %}"><button class="btn btn-secondary" type="submit">글쓰기</button></a>
    </p>
    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
          {% if posts.has_previous%}
          <li class="page-item">
            <a class="page-link" href="?page=1" tabindex="-1" aria-disabled="true">First</a>
          </li>
          <li class="page-item">
            <a class="page-link" href="?page={{posts.previous_page_number}}" tabindex="-1" aria-disabled="true">Previous</a>
          </li>
          {% endif %}

          <li class="page-item"><span class="page-link">{{posts.number}} / {{posts.paginator.num_pages}}</span></li>
          

          {% if posts.has_next %}
          <li class="page-item">
            <a class="page-link" href="?page={{posts.next_page_number}}">Next</a>
          </li>
          <li class="page-item">
              <a class="page-link" href="?page={{posts.paginator.num_pages}}">Last</a>
            </li>
          {% endif %}
        </ul>
      </nav>
  </div>

</html>
{% endblock %}