{% extends 'base.html'%}

{% block contents %}
  <div class = "container">
    <form action="{% url 'create'  %}">
      <table>
        <tr>
          <td style="width:100px"><h4>제목 :</h4></td>
          <td><textarea  cols="140" name="title"></textarea></td>
        </tr>
        <tr>
          <td><h4>본문 :</h4></td>
          <td><textarea cols="140" rows="20" name="description"></textarea></td>
        </tr>
        <tr>
          <td></td>
          <td class="float-right"><input class = "btn btn-dark" type = "submit" value="제출하기"></td>
        </tr>
      </table>
    </form>
  </div>

<footer class="text-muted">
    <div class="container">
      <p class="float-right">
         <!--왜 이 제출하기를 누르면 안 되지? form 안에 안 들어가 있어서 그런가 ??-->
      </p>
    </div>
</footer>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
      <script>window.jQuery || document.write('<script src="/docs/4.2/assets/js/vendor/jquery-slim.min.js"><\/script>')</script><script src="/docs/4.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-zDnhMsjVZfS3hiP7oCBRmfjkQC4fzxVxFhBx8Hkz2aZX8gEvA/jsP3eXRCvzTofP" crossorigin="anonymous"></script>
    </body>
{% endblock %}