{% extends 'base.html' %}
{% load staticfiles %}

{% block contents %}
  <div class="album py-5 bg-light">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <img src="{% static 'img1.png' %}" height="360" alt="">
            <div class="card-body">
              <p class="card-text">static 이미지</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                </div>
                <small class="text-muted"></small>
              </div>
            </div>
          </div>
        </div>

        {% for img in posts %}
        <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
              <img src="{{ img.image.url}}" height="360" alt="">
              <div class="card-body">
                <p class="card-text">{{img.title}}</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <a href="{% url 'detail' img.id %}"><button type="button" class="btn btn-sm btn-outline-secondary">View</button></a>
                  </div>
                  <small class="text-muted">{{img.pub_date}}</small>
                </div>
              </div>
            </div>
          </div>
        {% endfor %}

      </div>
    </div>
  </div>


</main>

<footer class="text-muted">
  <div class="container">
      <nav aria-label="Page navigation example">
          <ul class="pagination justify-content-center">
            {% if posts.has_previous%}
            <li class="page-item">
              <a class="page-link" href="?page=1" tabindex="-1" aria-disabled="true">First</a>
            </li>
            <li class="page-item">
              <a class="page-link" href="?page={{posts.previous_page_number}}" tabindex="-1" aria-disabled="true">Previous</a>
            </li>
            {% endif %}
  
            <li class="page-item"><span class="page-link">{{posts.number}} / {{posts.paginator.num_pages}}</span></li>
            
  
            {% if posts.has_next %}
            <li class="page-item">
              <a class="page-link" href="?page={{posts.next_page_number}}">Next</a>
            </li>
            <li class="page-item">
                <a class="page-link" href="?page={{posts.paginator.num_pages}}">Last</a>
              </li>
            {% endif %}
          </ul>
        </nav>
  </div>
</footer>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
      <script>window.jQuery || document.write('<script src="/docs/4.2/assets/js/vendor/jquery-slim.min.js"><\/script>')</script><script src="/docs/4.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-zDnhMsjVZfS3hiP7oCBRmfjkQC4fzxVxFhBx8Hkz2aZX8gEvA/jsP3eXRCvzTofP" crossorigin="anonymous"></script>
    </body>
{% endblock %}